    // LAPTOP
@media only screen and (min-width: 768px) and (max-width: 1024px){
    // * LEFT CONTAINER
    .leftContainerResp{
        display: none;
    }

    // * CENTER CONTAINER
    .centerContainerResp{
        margin: 0 1rem;
        margin-left: 2rem;

        .topOfResp{
            width: 36rem !important;
        }

        .shipmentResp{
            width: 100% !important;
            width: 36rem !important;
        }

        .acquaintancesResp{
            width: 36rem !important;
        
            #friendContainer > div{
                width: 10.45rem !important;
                height: 17.5rem !important;
                
                .username{
                    font-size: .8rem !important;
                }
            }
        }

        .sendResp{
            width: 37rem !important;
        }
    }
    
    // * RIGHT CONTAINER
    .rightContainerResp{
        width: 100% !important;
        padding-right: 45px !important;
        
        .head{
            width: auto !important;
        }

        .groupsResp{
            width: auto !important;
        }
    }
}

// LAPTOP
@media only screen and (min-width: 480px) and (max-width: 767px){
    // * LEFT CONTAINER
    .leftContainerResp{
        display: none !important;
    }
        
    // * CENTER CONTAINER
    .centerContainerResp{
        width: 100%;
        overflow: hidden;

        > div{
            width: 100% !important;
        }

        .shipmentResp{
            width: 100% !important;
        }

        .acquaintancesResp{
            #friendContainer{
                > div{
                    width: 11.7rem !important;
                    height: 17.4rem !important;
                }
            }
        }


    }

    // * RIGHT CONTAINER
    .rightContainerResp{
        display: none;
    }
}

// MOBILE
@media only screen and (max-width: 479px) {
    // * LEFT CONTAINER
    .leftContainerResp{
        display: none !important;
    }

     // * CENTER CONTAINER
    .centerContainerResp{
        width: 100%;
        overflow: hidden;
        margin: 0 1rem;

        > div{
            width: 100% !important;
        }

        .topOfResp{
            ul li{
                font-size: .8rem !important;
            }
        }

        .shipmentResp{
            width: 100% !important;
        }

        .acquaintancesResp{
            #friendContainer{
                > div{
                    width: 11.7rem !important;
                    height: 17.4rem !important;
                }
            }
        }


    }

    // * RIGHT CONTAINER
    .rightContainerResp{
        display: none;
    }
}

