// TODO: LEFT CONTAINER
.leftContainer{
    width: 23rem !important;
    height: 93.7vh;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    margin-right: 2rem;

    // * HEAD
    .head{
        padding: 8px;
        .title{
            font-weight: 500;
        }
    }
}