@import '../../../css/colors.scss';

// TODO: SECURITY AND LOGIN PAGE CONTENT
#SecurityAndLoginPageContent{
    max-height: 83vh;
    overflow-y: scroll;

    .box{
        border-radius: 2px;
        border: 1px solid #e5e5e5;
        margin-bottom: 1rem;

        // TITLE
        .title{
            background-color: #f5f6f7;
            font-size: .9rem;
            padding: 10px 12px;
            font-weight: 500;
            text-transform: capitalize;
        }

        // DESCRIPTION
        .description {
            ul{                
                li{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 8px 15px;
                    border-bottom: 1px solid #eee;
                    cursor: pointer;

                    // SVG
                    svg{
                        color: gray;
                        margin-right: 1rem;
                    }

                    // IMG
                    img{
                        margin-right: 1rem;
                    }

                    // B
                    b{
                        font-size: .88rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }

                    // P
                    p{
                        font-size: .8rem;
                        color: gray;

                        span{
                            color: $colorGreen;
                            font-weight: 600;
                        }
                    }

                    // CHANGE
                    p.change{
                        font-weight: 500;
                        position: relative;

                        .info{
                            background-color: #151515;
                            color: #eee;
                            padding: 5px;
                            border-radius: 5px;
                            font-size: .6rem;
                            position: absolute;
                            top: -1.5rem;
                            right: 1rem;
                            display: none;
                        }

                    }

                    p.change:hover{
                        .info{
                            display: block;
                        }
                    }

                }

                // MORE INFO
                li.moreInfo{
                    cursor: pointer;
                    svg{
                        margin-right: 5px;
                    }

                    span{
                        font-weight: 500;
                        font-size: .8rem;
                        color: $colorBlue;
                    }
                }

                // LAST CHILD
                li:last-child{
                    border-bottom: none;
                }
            }
        }
    }

    .box:last-child{
        margin-bottom: 0;
    }
}
