@import '../../../css/colors.scss';

// TODO: SECURITY AND LOGIN PAGE CONTENT
#SecurityAndLoginPageContent{
    max-height: 83vh;
    overflow-y: scroll;

    .box{
        border-radius: 2px;
        border: 1px solid #e5e5e5;
        margin-bottom: 1rem;

        // TITLE
        .title{
            background-color: #f5f6f7;
            font-size: .9rem;
            padding: 10px 12px;
            font-weight: 500;
            text-transform: capitalize;
        }

        // DESCRIPTION
        .description {
            ul{                
                li{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 8px 15px;
                    border-bottom: 1px solid #eee;
                    cursor: pointer;

                    // SVG
                    svg{
                        color: gray;
                        margin-right: 1rem;
                    }

                    // IMG
                    img{
                        margin-right: 1rem;
                    }

                    // B
                    b{
                        font-size: .88rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }

                    // P
                    p{
                        font-size: .8rem;
                        color: gray;

                        span{
                            color: $colorGreen;
                            font-weight: 600;
                        }
                    }

                    // CHANGE
                    p.change{
                        font-weight: 500;
                        position: relative;

                        .info{
                            background-color: #151515;
                            color: #eee;
                            padding: 5px;
                            border-radius: 5px;
                            font-size: .6rem;
                            position: absolute;
                            top: -1.5rem;
                            right: 1rem;
                            display: none;
                        }

                    }

                    p.change:hover{
                        .info{
                            display: block;
                        }
                    }

                }

                li.link{    
                    flex-direction: column;
                    align-items: flex-start;

                    a{
                        text-decoration: none;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                // MORE INFO
                li.moreInfo{
                    cursor: pointer;
                    svg{
                        margin-right: 5px;
                    }

                    span{
                        font-weight: 500;
                        font-size: .8rem;
                        color: $colorBlue;
                    }
                }

                // LAST CHILD
                li:last-child{
                    border-bottom: none;
                }
            }
        }

       // CHANGE PROPERTY
       .changeProperty{
            background-color: #f9f9f9;
            padding: 1rem;
            font-size: .85rem;
            position: relative;
            border-radius: 5px;
            display: none;
            width: 100%;
            margin-top: 1rem;

            > a{
                width: 50%;
                flex-direction: column;
                align-items: flex-start !important;
                background-color: #fff;
                padding: 8px;
                border-radius: 5px ;
                box-shadow: 1px 2px 3px #ccc;
                margin-bottom: 1rem;
                margin: 1rem auto;

                .infoTitle{
                    font-weight: 700;
                }

                .infoDescription{
                    text-align: justify;
                    font-weight: 500;
                    color: gray;
                    font-size: .8rem !important;
                }
            }

            > a:hover{
                background-color: #f9f9f9;
            }

            > a:first-child{
                margin-top: 0;
            }

            > a:last-child{
                margin-bottom: 0;
            }

            input{
                margin-left: 10px;
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 5px;
            }

            button{
                margin-left: 10px;
                padding: 5px;
                border-radius: 5px;
                background-color: $colorBlue;
                color: #fff;
                border: none;
                box-shadow: 0 0 3px $colorBlue;
                font-size: .75rem;
                margin-top: 1rem;
                cursor: pointer;
            }

            button:active{
                background-color: $colorDarkBlue;
                box-shadow: inset 0 0 6px $colorBlue;

            }
        }
    }

    .box:last-child{
        margin-bottom: 0;
    }
}
