@import '../../../../assets/css/colors.scss';

@mixin commonCss {
    margin: 0 auto;
}

.container{
    background-color: #fff;
    box-shadow: 0 0 6px #eee;
}

// * CAROUSEL
#Carousel{
    @include commonCss;
    width: 65%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}