@import '../../../../assets/colors.scss';


@mixin commonCss {
    margin: 0 auto;
}

.container{
    background-color: #fff;
    box-shadow: 0 0 6px #eee;
}



// * OTHER COMPONENTS
#OtherComponents{
    @include commonCss;
    width: 65%;

    // LEFT
    .left{
        width: 40%;
    }

    // RIGHT
    .right{
        width: 55%;

        // SUBMISSIONS
        .submissions{
            padding-bottom: 0 !important;
            .layoutSelection{
                li {
                    border-radius: 5px;
                    margin-top: 5px;
                    margin-left: 1rem;
                    a{
                        display: block;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        text-decoration: none;
                        color: gray;
                        font-size: .95rem;
                        border-bottom: 3px solid #fff;
                    }
                }

                li:first-child{
                    margin-left: 0;
                }
                
                li:not(.active):hover{
                    background-color: #eee;
                }

                li.active{
                    a{
                        color: $colorBlue;
                        border-color: $colorBlue;
                    }
                }
            }
        }

        // BIRTHDAY
        .birthday{
            .birthdayIcon{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                line-height: 3.5rem;
                text-align: center;
                background-color: $colorBlue;
            }

            .date:hover{
                cursor: pointer;
                text-decoration: underline 1px;
            }
        }
        
    }

}