// TODO: USER CARD 2
.user-card-2{
    display: flex;
    width: 100%;
    padding: 8px;
    text-decoration: none;

    // * IMAGE
    .image{
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 50%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    // * NAME
    .name{
        font-weight: 500;
        font-size: .9rem;
        color: #000;
    }

    // * ACTIONS
    .actions{
        width: 100%;
        margin-top: 5px;
        justify-content: space-between;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
            width: 7rem;
            font-size: .8rem;
            padding: 8px !important;
        }

        button.secondary-btn{
            margin-left: 5px !important;
        }
    }
}

.user-card-2:hover{
    background-color: #eee;
}