// * LAPTOP
@media only screen and (min-width:780px) and (max-width:1024px){
    .carouselContainerResp{
        width: 95% !important;
    }
}

// * TABLET
@media only screen and (min-width:480px) and (max-width:767px){
    .carouselContainerResp{
        width: 90% !important;
    }
}

// * MOBILE
@media only screen and (max-width:479px){
    .carouselContainerResp{
        display: none;
    }
}