// TODO: ELIPS
.elips{
    width: 4px !important;
    height: 4px !important;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
}