@import '../../../../assets/css/colors.scss';

// TODO: LEFT CONTAINER
#LeftContainer{
    width: 23rem !important;
    height: 93.7vh;
    overflow: visible;
    background-color: #fff;
    box-shadow: 3px 0 9px #ccc;
    margin-right: 2rem;
    position: relative;

    // * HEAD
    .head{
        padding-top: 8px !important;
        padding: 0 1rem;
        position: relative;

        // SETTINGS
        .settings{

            > svg{
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
            }

            > svg:hover{
                background-color: #eee;
            }

            > svg:active{
                background-color: #ccc;
            }

            // MENU
            .menu{
                padding: 8px 10px;
                position: absolute;
                z-index: 999;
                left: 1rem !important;
                width: 22rem !important;
                background-color: #fff;
                box-shadow: 0 0 5px #ccc;
                border-radius: 7px;
                display: none;

                // TITLE
                .title{
                    font-weight: 600;
                }

                // DESCRIPTION
                .description{
                    margin-bottom: 5px;
                    font-size: .7rem;
                    opacity: .5;
                    font-weight: 500;
                }
            }
        }
    }

    // * MENU
    .menu{
        // UL
        ul{
            padding: 0 1rem;

            .navLink{
                width: 100%;
            }

            // LI
            li{
                padding: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                span{
                    width: 3.3rem;
                    height: 2.7rem;
                    text-align: center;
                    padding: 0;
                    line-height: 2.7rem;
                }

                a{
                    text-decoration: none;
                    color: #000;
                    display: block;
                    position: relative;

                    .arrow{
                        position: absolute;
                        right: 1rem;
                        top: 5px;
                    }
                }
            }

            li:last-child{
                margin-bottom: 1rem;
            }

            // HR
            .hr{
                height: 1.5px;
                margin: 3px 0;
                background-color: #ccc;
            }

            // NORMAL LINK
            li.normalLink{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 9px;
                border-radius: 8px;
                color: rgb(55, 55, 55);

                span{
                    width: 1.5rem;
                    height: 1.5rem;
                    text-align: center;
                    line-height: 1.5rem;
                }

                a{
                    font-weight: 500;
                }
            }

            li.normalLink:hover{
                background-color: #f1f1f1;
            }

            // ACTIVE
            li.active{
                span{
                    color: #fff;
                    width: 2.7rem;
                    height: 2.7rem;
                }
            }

            .activeLink{
                span{
                    background-color: $colorBlue !important;
                }
            }

            li.normalLinkActive{
                span{
                    background-color: unset !important;
                }
            }

            // ILLUSTRATED
            li.illustrated{
                justify-content: left;

                .image{
                    overflow: hidden;
                    border-radius: 50%;
                    overflow: hidden;

                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 1px solid rgb(193, 193, 193);
                    }
                }

                p{
                    font-weight: 600;
                }
            }

            li.illustrated:hover{
                background-color: unset !important;
            }
        }

        // TEXT STORY
        .textStory{
            border-top: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 1rem;

            // TEXT AREA
            textarea{
                height: 10rem;
                margin-top: 1rem;
            }

            textarea:focus, select:focus{
                outline: $colorBlue 2px solid;
                box-shadow: 0 0 9px $colorBlue;
                font-weight: 600;
            }

            // TEXT AREA & SELECT & .backgrounds
            textarea, select, .backgrounds{
                width: 100%;
                margin-bottom: 1rem;
                padding: 1rem;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            // BACKGROUNDS
            .backgrounds{
                // TITLE
                .title{
                    font-size: .85rem;
                    color: gray;
                }                

                // COLORS
                .colors{
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;

                    div{
                        width: 2rem;
                        height: 2rem;
                        margin-right: 8px;
                        margin-bottom: 1rem;
                        border-radius: 50%;
                        box-shadow: 0 0 6px #ccc;
                        cursor: pointer;
                    }

                    div:not(.selected):hover{
                        opacity: .7;
                    }

                    div:last-child{
                        margin-right: 0;
                    }
                }
            }
        }

        // STORY ACTIONS
        .storyActions{
            width: 100%;
            background-color: #fff;
            box-shadow: 0 -2px 6px #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            position: absolute;
            bottom: 0;

            button{
                width: auto;
                font-weight: 500;
                padding: 8px 1.3rem !important;
            }

            button:first-child{
                margin-right: 1rem;
            }
        }
    }
}

#LeftContainer:hover::-webkit-scrollbar-thumb{
    background-color: #f1f1f1;
}

#LeftContainer::-webkit-scrollbar{
    width: 10px;
}

#LeftContainer::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #fff;
}

#LeftContainer::-webkit-scrollbar-track{
    width: 10px;
}