@import "../../main.scss";
@import "../../css/colors.scss";

html,body{
    width: 100%;
    height: 100%;
}

// TODO: MAIN CONTAINER
#MainContainer{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F5;

    // * HEADER
    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: .75rem;
        background-color: #fff;
        box-shadow: 0 0 5px #ccc;

        // TITLE
        .title{
            font-size: 1.35rem;
            font-weight: 600;
            color: $colorBlue;
        }

        // FORM
        form{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            input{
                width: 14rem;
                border-radius: .2rem;
            }
        }
    }

     // TITLE
    h1{
        font-size: 2.5rem;
        color: $colorBlue;
    }

    // * LEFT BODY
    .leftBody{
        width: 30rem;

        // CONTENT
        .content{
            width: 80%;
            font-size: .9rem;
        }
    }

    // * RIGHT BODY
    .rightBody{
        width: 25rem;
        border-radius: .5rem;
        text-align: center;

        // CONTAINER
        .container{
            padding: 1rem;
            box-shadow: 0 0 12px #ccc;
            background-color: #fff;
            border-radius: .5rem;
        }

        // CONTENT
        .content{
            margin-top: 1rem;
            font-size: .75rem;
        }

        // INPUT GROUP
        .btnWidth{
            width: auto;
        }
    }

    // * INFORMATION
    .information{
        text-align: left;
        font-size: .6rem;
        color: gray;

        // a
        a{
            font-size: .6rem !important;
        }
    }

    // TODO: REGISTER
    .register{
        // H1
        h1{
            margin-bottom: 2rem;
        }
    }
}

// TODO: FOOT CONTAINER
#FootContainer{
    text-align: center;
    height: 25vh;
    overflow: hidden;
    padding: 2rem 1rem;

    // * HEAD
    .head ul.language li{
        display: inline-block;
        margin-left: 1rem;
    }

    // * BODY
    .body ul.links li{
        display: inline-block;
        margin-left: 1rem;
    }

    // * FOOT
    .foot{
        font-size: .8rem;
        margin-left: 1rem;
    }
}