@import '../assets/colors.scss';

@media only screen and (min-width: 768px) and (max-width: 900px){
    .HeaderContainer{
        // * TITLE
        #title{
            .search-input:nth-child(1){padding-right: 15px;}
            .search-input:nth-child(1) input{
                display: none;
            }

        }
    }  
}


@media only screen and (min-width: 480px) and (max-width: 767px){
    .HeaderContainer{
        // * TITLE
        #title{
            .search-input:nth-child(1){padding-right: 15px;}
            .search-input:nth-child(1) input{
                display: none;
            }

            .search-input.d-none{
                display: block;
                padding-right: 15px;
            }
        }

        // * NAVBAR
        .navbar{
            display: none;
        }
    }   
}