@import '../assets/css/colors.scss';

// LAPTOP
@media only screen and (min-width: 768px) and (max-width: 1024px){
    // * HEADER CONTAINER
    .HeaderContainer {
        header{
            width: 100%;
            height: auto !important;
        }

        // * TITLE
        #title{
            // * SEARCH INPUT
            .search-input {
                padding-right: 15px !important;
                input{
                    display: none;
                }   
            }
        }

        // * NAVBAR
        .navbar{
            width: 100%;
            justify-content: center !important;

            ul{
                width: 80%;
                li{
                    width: 3.4rem !important;
                    a{
                        width: 2rem !important;
                        height: 3rem !important;
                        line-height: 3rem !important;
                    }
                }

                li.responsiveOpenMenu{
                    display: flex !important;
                }
            }
        }
        
    }
}

// TABLET
@media only screen and (min-width:480px) and (max-width: 767px) {
    // * HEADER CONTAINER
    .HeaderContainer {

        // * TITLE
        #title{
            .search-input:nth-child(1){padding-right: 15px;}
            .search-input:nth-child(1) input{
                display: none;
            }
        }

        // * NAVBAR
        .navbar{

            ul {
                li:nth-child(0), 
                li:nth-child(1), 
                li:nth-child(2), 
                li:nth-child(3), 
                li:nth-child(4), 
                li:nth-child(5){
                    display: none !important;
                } 
            }

            li.responsiveOpenMenu{
                display: flex !important;
                margin-left: -4rem !important;
                a{
                    font-size: 1.4rem !important;
                    margin-top: 2px;
                    color: #000 !important;
                }
            }
        }
    }  
}

// MOBILE
@media only screen and (max-width: 479px){
    // * HEADER CONTAINER
    .HeaderContainer {
        // * TITLE
        #title{
            .search-input:nth-child(1){padding-right: 15px;}
            .search-input:nth-child(1) input{
                display: none;
            }
        }
    
        // * NAVBAR
        .navbar{
    
            ul {
                li:nth-child(0), 
                li:nth-child(1), 
                li:nth-child(2), 
                li:nth-child(3), 
                li:nth-child(4), 
                li:nth-child(5){
                    display: none !important;
                } 
            }
    
            li.responsiveOpenMenu{
                display: flex !important;
                margin-left: -4rem !important;
                a{
                    font-size: 1.4rem !important;
                    margin-top: 2px;
                    color: #000 !important;
                }
            }
        }
    }  
}
