@import '../assets/colors.scss';

// TODO: HEADER
#HeaderContainer{
    height: 3.6rem;
    background-color: #fff;
    box-shadow: 0 0 6px rgb(179, 179, 179);

    // * TITLE
    .title{
        // IMAGE
        img{
            width: 3.6rem;
            height: 3.6rem;
        }
    }

    // * MAIN NAVBAR & RIGHT NAVBAR
    .navbar, .rightNavbar{
        height: 3.6rem;
        ul li{
            position: relative;
            .info{
                opacity: 0;
                position: absolute;
                bottom: -2.25rem;
                padding: .4rem .6rem;
                border-radius: .5rem;
                box-shadow: 0 0 3px #39393A;
                font-size: .7rem;
                color: #fff;
                transition: all .2s ease;
                background-color: #39393A;
            }
        }

        li:hover{
            .info{
                display: block;
                opacity: 1;
                color: #ccc;
            }

            .info:hover{
                display: none;
            }
        }
    }

    // * NAVBAR
    .navbar{
        ul{
            height: 100%;

            li{
                height: 100%;
                display: flex;
                margin: 0 .5rem;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid #fff;

                a{
                    width: 8vw !important;
                    height: 3rem;
                    line-height: 3rem;
                    text-align: center;
                    display: block;
                    font-size: 1.25rem;
                    color: #ccc;
                }

                a:not(.activeLink):hover{
                    border-radius: .3rem;
                    background-color: $colorDarkSecondaryOpacity !important;
                    border-color: $colorDarkSecondaryOpacity;
                }
            }

            li.active{
                border-color: $colorDarkBlue;

                a{
                    color: $colorDarkBlue;
                }
            }
        }
    }

    // * RIGHT NAVBAR
    .rightNavbar{
        position: relative;
        z-index: 9999;
        > ul > li{
            margin-right: .5rem;
            position: unset;
            > a{
                display: block;
                width: auto;
                width: 2.8rem;
                height: 2.8rem;
                font-size: 1.2rem;
                color: #000;
                text-align: center;
                line-height: 2.8rem;
                border-radius: 50%;
                text-align: center;
                background-color: #eee;
            }  
        }  

        @mixin imageCss {
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            border-radius: 50%;

            img{
                width: 100%;
                height: 100%;
            }
        }

        div.hideMenu{
            display: none;
        }

        > ul > li > div:last-child{
            top: 3.5rem;
        }
        
        // * MENU
        .menu{
            overflow-y: scroll;
            position: absolute;
            right: 10px;
            width: 38.3rem;
            height: 93vh;
            opacity: 1;
            border-radius: 5px;
            transition: all .5s ease;
            background-color: #F7F8FA;
            z-index: 1;
            box-shadow: 0 0 12px #ccc, 0 0 3px #eee;

            // HEAD
            .head{
                h4{
                    font-size: 1.2rem;
                }
            }

            // SEARCH MENU - BUILDER
            
            .searchMenu, .builderMenu{
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 3px #eee, 0 1px 3px #ccc;
                font-size: .8rem;
            }.searchMenu{
                margin-left: 15px;
                width: 22.5rem;
            }.builderMenu{
                margin-right: 15px;
                width: 13rem;
            }

            .searchMenu{
                margin-bottom: 1rem;
                // TITLE
                .category{
                    margin-top: 1rem;
                    > .title{
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    ul{
                        li{
                            a{
                                font-size: .8rem;
                                text-align: left;

                                .detail{
                                    margin-left: 1rem;

                                    .description{
                                        font-size: .6rem;
                                        color: gray;
                                    }
                                }
                            }
                        }
                        li:first-child{
                            margin-top: 7px;
                        }
                    }
                }

            }

            .builderMenu{
                h5{
                    font-size: medium;
                    margin-top: 1rem;
                    margin-left: 1rem;
                    margin-bottom: 10px;
                }

                // UL
                ul{
                    padding: 0 .7rem;
                    padding-bottom: 1rem;
                    li {
                        a{
                            display: block;
                            padding: 10px 5px;
                            span{
                                width: 2.2rem;
                                text-align: center;
                                line-height: 2.2rem;
                                height: 2.2rem;
                                padding: 0;
                                font-size: 1rem;
                            }
                        }
                    }

                   
                }

            }


        }
    }
}