// FLEX
.d-flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between !important;
}

.justify-content-center{
    justify-content: center !important;
}

.justify-content-start{
    justify-content: flex-start !important;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

// BLOCK
.d-block{
    display: block !important;
}