@import "../../../../assets/colors.scss";

// TODO: CENTER CONTAINER
#CenterContainer{
    padding-top: 1.5rem;
    width: 42.5rem;
    padding-bottom: 3rem;

    // * TOP OF
    @import './component-css/topOf.module.scss';

    // * SHIPTMENTS
    @import './component-css/shipment.module.scss';
    
    // * SEND AND OTHER
    @import './component-css/send.module.scss';

    // * ACQUAINTANCES
    @import './component-css/acquaintances.module.scss';
}