@import '../../../../assets/colors.scss';

$leftMenuListHoverColor: #E4E6E9;

// TODO: LEFT CONTAINER
#LeftContainer{
    .left{
        height: 92vh;
        overflow: hidden;
    }

    // ! LINK AND BUTTON STYLE
    @mixin linkAndButton {
        padding: 8px;
        border-radius: 10px;
        transition: all .2s ease;
    }

    // LEFT MENU
    #leftMenu{
        padding: 0 8px;
        height: 100%;
        padding-top: 1rem;
        z-index: 999;
        width: 20rem;
        overflow: hidden;

        li{
            width: 17.45rem;

            // A
            a{
                font-size: .9rem;
                @include linkAndButton;
            }:hover, button:hover{
                background-color: $leftMenuListHoverColor;
            }:active, button:active{
                background-color: #ccc;
            }

            // IMG
            img{
                border-radius: 50%;
                overflow: hidden;
            }.userImage{
                width: 2.5rem;
                height: 2.5rem;
                border: 1px solid rgb(173, 173, 173);
            }

        }.moreMenuItem{
            span{
                display: inline-block;
                padding: 8px 13px;
                border-radius: 50%;
                margin-right: 12px;
                background-color: $leftMenuListHoverColor;
            }
    
            button{
                width: 100%;
                text-align: left;
                border: none;
                background-color: transparent;
                font-weight: 500;
                cursor: pointer;
                @include linkAndButton;
            }
        }.menuFooter{
            overflow: hidden !important;
            padding-left: 12px;

            a{
                padding: 0;
                font-size: 12px;
            }

            a:hover{
                background-color: transparent;
            }
        }
    }:hover{
        overflow-y: scroll !important;

    }
}
