@import "../../../../assets/colors.scss";

// TODO: RIGHT CONTAINER
#RightContainer{
    padding-top: 1.5rem !important;
    padding-right: 8px;

    // * HEAD
    .head{
        width: 75%;
        h3{
            color: gray;
            font-size: 1rem;
        }
    }

    // * GROUPS
    .groups{
        margin-top: .3rem;
        width: 75%;
    }

}