// COLORS
$colorBlue: #1877F2;
$colorDarkBlue: #166FE5;
$colorLightBlue: #518ede;
$colorBlueOpacity: #166FE520;
$colorBlueOpacityHover: #166FE530;
$colorLightGreen: #42B72A;
$colorGreen: #36A420;
$colorDarkSecondary: #E9EBEE;
$colorDarkSecondaryOpacity: #E9EBEE99;
$colorSecondary: #F0F2F5;